<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <!-- CSS , menu bar 따로 넣어야함 .. -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="common/css/style.css">

  </head>
  <body>
    <% include ./navbar.ejs %>
    <h1>새 프로젝트 등록</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="form-box">
          <div class="form-top">
            <form role="form" action="/" method="post" class="form-newproject">
              <div class="form-group" style="font-weight:bold;">
                   PM: <%=name%>
              </div>
              <div class="form-group">
                <label class="sr-only" for="projectname">프로젝트명</label>
                   프로젝트명: <input type="text" name="pname" placeholder="" class="form-projectname form-control" id="pname">
              </div>
              <div class="form-group">
                 <label class="sr-only" for="form-password">프로젝트설명</label>
                   설명: <textarea type="text" name="pdesc" placeholder="" class="form-projectdesc form-control" id="pdesc"> </textarea>
              </div>
                <div class="input-group">
                  Task선택 <br>
                  <input type="checkbox" name="estimation" checked> Spec 산정 및 견적 산정 <br>
                  <input type="checkbox" name="build-plan" checked> 구축 계획 <br>
                  <input type="checkbox" name="kickoff" checked> Kick off meeting <br>
                  <input type="checkbox" name="workrequest" checked> 공사 신청서 작성 및 승인 <br>
                  <input type="checkbox" name="equip-delivery" checked> 장비 납품 <br>
                  <input type="checkbox" name="network" checked> 네트워크 할당 요청, 수령 및 공사 진행 <br>
                  <input type="checkbox" name="at" checked> 인수시험 절차서 작성 및 검토<br>
                  <input type="checkbox" name="at-check" checked> 인수시험 확인<br>
                  <input type="checkbox" name="open" checked> 개통<br>
                  <input type="checkbox" name="final-acceptance" checked> 최종 인수 <br>
                  <input type="checkbox" name="bp" checked> 인력/BP 관리<br>
                </div><!-- /input-group -->
              <div class="form-group">

              </div>
              <button type="submit" class="btn" style="margin:auto; display:block;"> 등록! </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <br><br>
</html>
